@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

.section {
  padding: 88px 0 120px;
}

@media (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.header {
  background: #3F51B5;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 3px 3px rgba(51, 51, 51, 0.16);
          box-shadow: 0 3px 3px rgba(51, 51, 51, 0.16);
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.header-logo {
  width: 205px;
}

.header-logo img {
  display: block;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  font-family: "Lato", sans-serif;
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav li:not(:first-child) {
  margin-left: 40px;
}

.header__nav li a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.header__nav li a::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -10px;
  height: 2px;
  left: 0px;
  background: transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__nav li a:hover::after, .header__nav li a.is-active::after {
  background: #E81919;
}

.main-visual {
  height: 600px;
  width: 100%;
  background: url("../img/mainvisual.png") no-repeat center center/cover;
  position: relative;
  margin-top: 100px;
}

@media (max-width: 767px) {
  .main-visual {
    height: 400px;
    margin-top: 40px;
  }
}

.main-visual_contents {
  position: absolute;
  top: 49%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

@media (max-width: 767px) {
  .main-visual_contents {
    padding-left: 46px;
    padding-right: 46px;
  }
}

.main-visual_title {
  font-size: 64px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .main-visual_title {
    font-size: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main-visual_title {
    line-height: 1.3;
  }
}

.main-visual_text {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .main-visual_text {
    font-size: 18px;
  }
}

.main-visual_button {
  margin-top: 30px;
}

.main-visual_button a {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  display: inline-block;
  width: 384px;
  height: 72px;
  line-height: 72px;
  max-width: 100%;
  background: #3F51B5;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px #333, 0.16;
          box-shadow: 0 3px 6px #333, 0.16;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 767px) {
  .main-visual_button a {
    width: 280px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
  }
}

.main-visual_button a:hover {
  opacity: 0.7;
}

.card {
  background: #EFEFEF;
}

.section-title {
  font-family: "Lato", sans-serif;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 12px;
  text-align: center;
  position: relative;
}

.section-title::after {
  content: "";
  position: absolute;
  background: #3F51B5;
  width: 60px;
  height: 4px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.card__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
}

.card__item {
  width: calc(33.33333333% - 24px * 2/ 3);
  background: #fff;
  padding: 16px;
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .card__item:not(:nth-child(3n +1)) {
    margin-left: 24px;
  }
  .card__item:nth-child(n + 4) {
    margin-top: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .card__item {
    width: calc(50% - 24px * 1  / 2);
  }
  .card__item:not(:nth-child(2n +1)) {
    margin-left: 24px;
  }
  .card__item:nth-child(n + 3) {
    margin-top: 16px;
  }
}

@media (max-width: 767px) {
  .card__item {
    width: 100%;
    margin-left: 0px;
  }
  .card__item:not(:first-child) {
    margin-top: 16px;
  }
}

.card__image img {
  width: 100%;
}

.card__title {
  font-size: 20px;
  font-weight: bold;
  color: #6F7579;
  margin-top: 8px;
  letter-spacing: -1.2px;
}

.card__text {
  font-weight: bold;
  color: #6F7579;
  line-height: 1.5;
  margin-top: 4px;
  letter-spacing: -1.2px;
}

.news {
  background: #FFFFFF;
}

.news__items {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .news__items {
    margin-top: 40px;
  }
}

.news_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 20px 0 12px;
  margin-bottom: 41px;
}

.news_item:not(:first-child) {
  border-top: 1px solid #707070;
}

@media (max-width: 767px) {
  .news_item {
    display: block;
    margin-bottom: 0;
  }
}

.news__meta {
  width: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__date {
  color: #333333;
  width: 105px;
  padding-top: 3px;
  font-family: "Lato", sans-serif;
}

.news__label a {
  width: 80px;
  height: 32px;
  display: inline-block;
  text-align: center;
  background: #666666;
  border-radius: 4px;
  line-height: 32px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news__label a.is-red {
  background: #E81919;
}

.news__label a.is-blue {
  background: #3F51B5;
}

.news__label a:hover {
  opacity: 0.7;
}

.news__title {
  width: calc(100% - 185px);
  padding-left: 20px;
  padding-top: 3px;
}

.news__title a {
  text-decoration: none;
  line-height: 20 -16;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news__title a:hover {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .news__title {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    margin-top: 6px;
  }
}

.news__more {
  font-family: "Lato", sans-serif;
  margin-top: 60px;
  text-align: center;
}

.news__more a {
  text-decoration: none;
  color: #E81919;
  font-weight: bold;
  padding-right: 14px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news__more a:hover {
  opacity: 0.7;
}

.news__more a:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 7px;
  height: 11px;
  background: transparent url(/img/news-arrow.svg) no-repeat center center/contain;
}

@media (max-width: 767px) {
  .news__more a {
    margin-top: 30px;
  }
}

.price {
  background: #EFEFEF;
}

.price__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

@media (max-width: 767px) {
  .price__content {
    display: block;
    margin-top: 40px;
  }
}

.price__image {
  width: 454px;
}

@media (max-width: 767px) {
  .price__image {
    width: 100%;
  }
}

.price__table {
  font-family: "Lato", sans-serif;
  width: 708px;
  margin-left: auto;
}

@media (max-width: 767px) {
  .price__table {
    width: 100%;
    margin-top: 10px;
  }
}

.table {
  background: #fff;
  border-collapse: collapse;
  border: #707070 solid 1px;
  font-weight: bold;
  width: 100%;
  table-layout: fixed;
}

.table th, .table td {
  border: #707070 solid 1px;
  padding: 0 24px;
  height: 58px;
  vertical-align: middle;
}

.table th {
  background: #999999;
  color: #FFF;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.table th:first-child {
  width: 172px;
}

@media (max-width: 767px) {
  .table th:first-child {
    width: 110px;
  }
}

.table td {
  text-align: right;
}

.table strong {
  color: #E81919;
  line-height: 1.2;
}

.table span {
  font-size: 13px;
  display: block;
  margin-top: 1px;
  line-height: 1.2;
}

.price__attention {
  font-size: 14px;
  margin-top: 10px;
}

.price__attention a {
  font-weight: bold;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.price__attention a:hover {
  opacity: 0.7;
}

.access__map {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}

.iframe-wrap {
  width: 100%;
  padding-top: 50%;
  position: relative;
}

.iframe-wrap iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.access_info {
  margin-top: 16px auto 0;
  width: 800px;
  max-width: 100%;
}

.access_info_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.access_info_row:not(:first-child) {
  margin-top: 8px;
}

.access_info_row dt {
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 104px;
}

.access_info_row dd {
  margin: 0;
  padding: 0;
  width: calc(100% - 104px);
}

.button {
  text-align: center;
  margin-top: 30px;
}

.button a {
  text-decoration: none;
  display: inline-block;
  width: 304px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  padding: 16px 12px;
  max-width: 100%;
  background: #3F51B5;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px #333, 0.16;
          box-shadow: 0 3px 6px #333, 0.16;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button a:hover {
  opacity: 0.7;
}

.button a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent no-repeat url(/img/button-arrow.svg) center center/contain;
  width: 17px;
  height: 16px;
}

@media (max-width: 767px) {
  .button a {
    width: 280px;
    height: 60px;
    line-height: 30px;
    font-size: 18px;
  }
}

.contact {
  background: #EFEFEF;
}

.contact__form {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
  background: #fff;
  padding: 60px;
}

@media (max-width: 767px) {
  .contact__form {
    margin-top: 40px;
    padding: 24px;
  }
}

.contact-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .contact-form__row {
    display: block;
  }
}

.contact-form__row:not(:first-child) {
  margin-top: 60px;
}

@media (max-width: 767px) {
  .contact-form__row:not(:first-child) {
    margin-top: 30px;
  }
}

.contact-from__label {
  width: 160px;
  padding-top: 5px;
}

@media (max-width: 767px) {
  .contact-from__label {
    width: 100%;
  }
}

.contact-from__label label {
  font-weight: bold;
  color: #333;
}

.contact-from__label label.is-required {
  display: inline-block;
  position: relative;
}

.contact-from__label label.is-required::after {
  position: absolute;
  content: "必須";
  color: #fff;
  background: #E81919;
  width: 50px;
  height: 22px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  top: calc(100% + 2px);
  left: 0;
  padding: 4px 8px;
  line-height: 1;
}

@media (max-width: 767px) {
  .contact-from__label label.is-required::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc(100% + 6px);
  }
}

.contact-form__input {
  width: calc(100% - 160px);
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .contact-form__input {
    width: 100%;
    margin-top: 5px;
  }
}

.contact-form__input [type="text"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px #707070 solid;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}

.contact-form__input [type="email"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px #707070 solid;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}

.contact-form__input select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px #707070 solid;
  padding: 10px 16px;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  background: #fff url(/img/select-arrow.svg) no-repeat right 12px center/17px 14px;
}

.contact-form__input textarea {
  height: 240px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px #707070 solid;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  resize: none;
}

.contact__form__radio {
  margin-top: 33px;
}

@media (max-width: 767px) {
  .contact__form__radio {
    margin-top: 26px;
  }
}

.contact__form__radio [type="radio"] {
  display: none;
}

.contact__form__radio span {
  display: inline-block;
  padding-left: 26px;
  position: relative;
  margin-right: 36px;
}

@media (max-width: 767px) {
  .contact__form__radio span {
    margin-right: 20px;
    margin-bottom: 8px;
  }
}

.contact__form__radio span::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
}

.contact__form__radio span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #3F51B5;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  display: none;
}

.contact__form__radio [type="radio"]:checked + span::after {
  display: block;
}

.contact__form__check {
  margin-top: 60px;
  text-align: center;
}

@media (max-width: 767px) {
  .contact__form__check {
    margin-top: 30px;
  }
}

.contact__form__check [type="checkbox"] {
  display: none;
}

.contact__form__check span {
  display: inline-block;
  padding-left: 49px;
  position: relative;
}

.contact__form__check span a {
  font-weight: bold;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact__form__check span a:hover {
  opacity: 0.7;
}

.contact__form__check span::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: #fff;
  border: 1px solid #707070;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.contact__form__check span::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent url(/img/checkbox.svg) no-repeat center center/contain;
  display: none;
}

.contact__form__check [type="checkbox"]:checked + span::after {
  display: inline-block;
}

.contact__form__button {
  margin-top: 30px;
  text-align: center;
}

.contact__form__button [type="submit"] {
  display: inline-block;
  background: #3F51B5 url(/img/button-arrow.svg) no-repeat right 12px center/17px 16px;
  color: #fff;
  padding: 14px 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 6px rgba(51, 51, 51, 0.16);
          box-shadow: 0px 3px 6px rgba(51, 51, 51, 0.16);
  width: 304px;
  height: 56px;
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact__form__button [type="submit"]:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media (max-width: 767px) {
  .contact__form__button [type="submit"] {
    width: 220px;
  }
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
  background: linear-gradient(to bottom, #666666, #333333);
  padding: 60px 0 24px;
  color: #fff;
}

@media (max-width: 767px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 16px;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer__content {
    display: block;
  }
}

.footer__left {
  width: 36%;
}

@media (max-width: 767px) {
  .footer__left {
    width: 100%;
  }
}

.footer__logo a img {
  width: 205px;
}

.footer__address, .footer__tel {
  font-size: 14px;
}

.footer__address {
  margin-top: 26px;
}

@media (max-width: 767px) {
  .footer__address {
    margin-top: 16px;
  }
}

.footer__tel {
  margin-top: 14px;
}

@media (max-width: 767px) {
  .footer__tel {
    margin-top: 8px;
  }
}

.footer__center {
  width: 48%;
}

@media (max-width: 767px) {
  .footer__center {
    width: 100%;
    margin-top: 24px;
  }
}

.footer__nav {
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav li:not(:first-child) {
  margin-left: 40px;
}

@media (max-width: 767px) {
  .footer__nav li:not(:first-child) {
    margin-left: 20px;
  }
}

.footer__nav li a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__nav li a:hover {
  opacity: 0.7;
}

.footer__nav img {
  width: 30px;
}

.footer__right {
  width: 16%;
}

@media (max-width: 767px) {
  .footer__right {
    width: 100%;
    margin-top: 24px;
  }
}

.footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 767px) {
  .footer__sns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__sns li:not(:first-child) {
  margin-left: 16px;
}

.footer__sns li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__sns li a:hover {
  opacity: 0.7;
}

.footer__copy {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin-top: 40px;
  text-align: center;
}

@media (max-width: 767px) {
  .footer__copy {
    margin-top: 24px;
  }
}

.to-top {
  position: fixed;
  right: 24px;
  bottom: 24px;
  display: none;
}

@media (max-width: 767px) {
  .to-top {
    right: 14px;
    bottom: 14px;
  }
}

.to-top a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.to-top a:hover {
  opacity: 0.7;
}

.to-top a img {
  width: 60px;
}

@media (max-width: 767px) {
  .to-top a img {
    width: 40px;
  }
}

.swiper-button-next {
  background: transparent no-repeat url(/img/arrow-next.svg) center center/contain;
  width: 41px;
  height: 40px;
}

.swiper-button-next:after {
  display: none;
}

.swiper-button-prev {
  background: transparent no-repeat url(/img/arrow-prev.svg) center center/contain;
  width: 41px;
  height: 40px;
}

.swiper-button-prev:after {
  display: none;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #FFF;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background: #2F7DC8;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 8px;
  margin-left: 8px;
}

.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 300;
  display: none;
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: -webkit-transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
}

@media (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-icon.is-active {
  -webkit-transform: translate(-200px);
          transform: translate(-200px);
}

.drawer-icon.is-active .drawer-icon__bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

.drawer-icon.is-active .drawer-icon__bar2 {
  display: none;
}

.drawer-icon.is-active .drawer-icon__bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.drawer-icon__bars {
  width: 22px;
  height: 30px;
  display: block;
  position: relative;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  width: 22px;
  height: 4px;
  top: 0;
  left: 0;
  position: absolute;
  background: #fff;
}

.drawer-icon__bar1 {
  top: 0;
}

.drawer-icon__bar2 {
  top: 8px;
}

.drawer-icon__bar3 {
  top: 16px;
}

.drawer-content {
  width: 200px;
  height: 100%;
  position: fixed;
  background: #fff;
  right: 0;
  top: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  z-index: 299;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
}

.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.drawer-content__item {
  border-bottom: 1px dotted #707070;
}

.drawer-content__item a {
  display: block;
  color: #707070;
  font-size: 35px;
  padding: 20px 0 20px 20px;
  position: relative;
  text-decoration: none;
}

.drawer-content__item a::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
  height: 11px;
  background: transparent url(/img/arrow-b.svg) no-repeat center center/contain;
}

.drawer-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 298;
  display: none;
}

.drawer-background.is-active {
  display: block;
}

.qa {
  background: #EEEEEE;
}

.qa__head {
  margin-bottom: 100px;
}

.ac {
  margin: 0 auto;
  width: 80%;
  font-weight: bold;
  padding-bottom: 100px;
}

.ac dt {
  background: #3F51B5;
  color: #fff;
  padding: 12px 0 12px 56px;
  position: relative;
}

.ac dt:not(:first-child) {
  margin-top: 40px;
}

.ac dt::before {
  content: "Q";
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ac .accordion__icon {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ac .icon__line1 {
  width: 14px;
  height: 2px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.ac .icon__line2 {
  width: 2px;
  height: 14px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  border-radius: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
}

.ac dd {
  color: #3F51B5;
  background: #fff;
  padding: 12px 0 12px 56px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  border: 1px #3F51B5 solid;
  position: relative;
  display: none;
}

.ac dd::before {
  content: "A";
  position: absolute;
  left: 20px;
}

.modal {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  width: 900px;
  height: 600px;
  max-width: calc(100% - 24px * 2);
  max-height: calc(100% - 24px * 2);
  background: #fff;
  padding: 60px;
  z-index: 500;
  display: none;
}

.modal__icon {
  position: absolute;
  top: -21px;
  right: -21px;
}

.modal__background {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  display: none;
}

.modal-title {
  color: #707070;
  font-size: 24px;
  padding-bottom: 24px;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
}

.modal-title::after {
  content: "";
  position: absolute;
  background: #3F51B5;
  width: 100px;
  height: 2px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-item__title {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  padding-left: 20px;
}

.modal-item__title::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 20px;
  background: #3F51B5;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

.modal__button {
  margin-top: 24px;
  text-align: center;
}

.modal__button a {
  background: #3F51B5;
  display: inline-block;
  width: 176px;
  height: 48px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  padding: 16px 60px;
  line-height: 1;
}

.modal-content {
  height: calc(100% - 150px);
  overflow: auto;
}

.modal-list {
  padding-top: 24px;
}
